body {
    background-color: rgb(13, 165, 206);
}

.app {
    position: relative;
    max-width: 1140px;
    padding: 0 1rem;
    margin: 0 auto;
}

.container-bg-day {
    background-color: rgb(125, 211, 252);
    border-color: rgb(186, 230, 253);
}

.container-bg-day-item {
    background-color: rgb(125, 211, 252);
    border-color: rgb(186, 230, 253);

    &:hover {
        background-color: rgb(160, 223, 252);
    }
}

.container-bg-night {
    background-color: rgb(138, 149, 156);
}

.container-bg-night-item {
    background-color: rgb(138, 149, 156);

    &:hover {
        background-color: rgb(160, 168, 173);
    }
}

.search {
    position: absolute;
    top: 50%;
    left: 0rem;
    transform: translateY(-50%) translateX(-100%);
    opacity: 0;
    transition: all 0.5s linear;

    &.open {
        opacity: 1;
        transform: translateY(-50%);
    }
}

.searchinput {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    transform: translateY(-50%) translateX(-100%);
    opacity: 0;
    transition: all 0.5s linear;

    &.open {
        left: 2.5rem;
        opacity: 1;
        transform: translateY(-50%);
        width: 230px;

        @media (min-width: 450px) { 
            width: 288px;
        }
    }
}

.playicon {
    opacity: 0;
    transition: all 0.5s linear;

    &.open {
        opacity: 1;
    }
}

.oneweekweather-container-mobile {
    display: grid;
    grid-template-columns: 6.4rem auto auto 1.6rem;
    grid-template-areas: ". symbol-header symbol-header .";
    padding-bottom: 1rem;

    @media (min-width: 550px) { 
        grid-template-columns: 3fr 2fr 2fr 1.6rem;
    }

    @media (min-width: 1024px) { 
        display: none;
    }
}

.oneweekweather-item-mobile {
    display: grid;
    grid-template-areas: "night day evening";
    grid-template-columns: 1fr 2fr 1fr;
    grid-area: symbol-header;

    @media (min-width: 550px) { 
    grid-template-areas: "night morning afternoon evening";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .oneweekweather-item-night {
        grid-area: night;
        justify-self: center;
    }
    .oneweekweather-item-morning {
        display: none;        

        @media (min-width: 550px) { 
            display: block;
            grid-area: morning;
            justify-self: center;
        }
    }
    .oneweekweather-item-afternoon {
        display: none;        

        @media (min-width: 550px) { 
            display: block;
            grid-area: afternoon;
            justify-self: center;
        }
    }
    .oneweekweather-item-day {
        grid-area: day;
        justify-self: center;

        @media (min-width: 550px) { 
            display: none;
        }
    }
    .oneweekweather-item-evening {
        grid-area: evening;
        justify-self: center;
    }
}

.oneweekweather-container-desktop {
    display: none;
    @media (min-width: 1024px) { 
        display: grid;
    grid-template-columns: 13.866rem 2fr 2fr 1fr;
    grid-template-areas: ". symbol-header forecast-header .";
    column-gap: 1.6rem;
    padding: 0rem 0.5rem 1rem;
    }
}

.oneweekweather-item-symbols-headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-area: symbol-header;
    grid-template-areas: "night morning afternoon evening";

    .oneweekweather-item-night {
        grid-area: night;
        justify-self: center;
    }
    .oneweekweather-item-morning {
        grid-area: morning;
        justify-self: center;
    }
    .oneweekweather-item-afternoon {
        grid-area: afternoon;
        justify-self: center;
    }
    .oneweekweather-item-evening {
        grid-area: evening;
        justify-self: center;
    }
}

.oneweekweather-item-forecast-headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: forecast-header;
    grid-template-areas: "temperature precipitation wind";
    column-gap: 0.53rem;

    .oneweekweather-item-temperature {
        grid-area: temperature;
        justify-self: start;
    }
    .oneweekweather-item-precipitation {
        grid-area: precipitation;
        justify-self: start;
        margin-left: 0.5rem;
    }
    .oneweekweather-item-wind {
        grid-area: wind;
        justify-self: start;
    }
}

.weather-item-container {
    display: grid;
    grid-template-columns: 6.4rem auto auto 1.6rem;
    grid-template-rows: 1.6rem 4rem;
    grid-template-areas: "date date date link" "forecast symbols symbols link";
    row-gap: 0.2rem;
    padding: 0.75rem 0.5rem 1rem;

    @media (min-width: 550px) { 
        grid-template-columns: 3fr 2fr 2fr 1.6rem;
    }

    @media (min-width: 1024px) { 
        grid-template-columns: 13.866rem 2fr 2fr 1fr;
        grid-template-rows: 3rem;
        column-gap: 1.6rem;
        grid-template-areas: "date symbols forecast link";
        padding: 0.75rem 0.5rem 0.5rem;
    }
}

.weather-item-date {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-area: date;
    align-self: center;

    @media (min-width: 1024px) { 
        grid-template-columns: 2fr;
        grid-template-rows: 1.7rem;
        grid-template-areas: "date";
    }
}

.weather-item-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "symbol-0 symbol-1 symbol-2 symbol-3";
    grid-area: symbols;
    align-self: baseline;

    @media (min-width: 1024px) { 
        align-self: center;
    }

    .weather-item-symbol-0 {
        grid-area: symbol-0;
        justify-self: center;
    }
    .weather-item-symbol-1 {
        grid-area: symbol-1;
        justify-self: center;
    }
    .weather-item-symbol-2 {
        grid-area: symbol-2;
        justify-self: center;
    }
    .weather-item-symbol-3 {
        grid-area: symbol-3;
        justify-self: center;
    }
}

.weather-item-forecast {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: forecast;

    @media (min-width: 1024px) { 
        display: grid;
        align-self: center;
        grid-template-columns: 1.2fr 1fr 1fr;
        grid-template-areas: "temperature precipitation wind";
    }
}

.weather-item-readmore {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: link;
    align-self: center;

    @media (min-width: 1024px) { 
        display: none;
    }
}

.singleoneweek-title-container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr; 
    grid-template-areas: "time weather forecast";
    padding: 0rem 0.5rem 0.5rem;

    @media (min-width: 475px) { 
        grid-template-columns: 0.5fr 0.5fr 2fr 1fr; 
        grid-template-areas: "time weather forecast windDesc";
    }
}

.singleoneweek-title-forecast {
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr;
    grid-template-areas: "temp rain wind";
    grid-area: forecast;
    align-self: center;

    .singleoneweek-title-temp {
        grid-area: temp;
        justify-self: baseline;

        @media (min-width: 475px) {
            justify-self: baseline;
        }
    }
    .singleoneweek-title-rain {
        grid-area: rain;
        justify-self: baseline;

        @media (min-width: 475px) {
            justify-self: baseline;
        }
    }
    .singleoneweek-title-wind {
        grid-area: wind;
        justify-self: baseline;

        @media (min-width: 475px) {
            justify-self: baseline;
        }
    }
}

.singleoneweek-item-container {
    display: grid;
    grid-template-rows: 1.25rem;
    grid-template-columns: 0.5fr 0.5fr 2fr; 
    grid-template-areas: "time weather forecast";
    row-gap: 0.2rem;
    padding: 0.75rem 0.5rem 1rem;

    @media (min-width: 475px) { 
        grid-template-columns: 0.5fr 0.5fr 2fr 1fr; 
        grid-template-areas: "time weather forecast windDesc";
    }
}

.singleoneweek-item-time {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: time;
    align-self: center;
    margin-top: 0.5rem;
}

.singleoneweek-item-weather {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: weather;
    align-self: center;
    margin-top: 0.5rem;

}

.singleoneweek-item-forecast {
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr;
    grid-template-areas: "temp rain wind";
    grid-area: forecast;
    align-self: center;
    margin-top: 0.5rem;

    .singleoneweek-item-temp {
        grid-area: temp;
        justify-self: baseline;

        @media (min-width: 475px) {
            justify-self: baseline;
        }
    }
    .singleoneweek-item-rain {
        grid-area: rain;
        justify-self: baseline;

        @media (min-width: 475px) {
            justify-self: baseline;
        }
    }
    .singleoneweek-item-wind {
        grid-area: wind;
        justify-self: baseline;

        @media (min-width: 475px) {
            justify-self: baseline;
        }
    }

}

.singleoneweek-item-windDesc {
    display: none;

    @media (min-width: 475px) { 
        display: grid;
        grid-template-columns: 1fr;
        grid-area: windDesc;
        align-self: center;
        margin-top: 0.5rem;
    }
}